.header {
	text-align: center;
	background: url("../img/header-background.jpg");
}
.header img {
	max-width:100%;
}

.responsive img {
	max-width: 100%;
}

h1, h2, h3 {
	color:#daa520;
	font-family: "Bookshelf Symbol 7";
	text-shadow: 1px 1px 10px #d0d0d0;
}

.main {
	color:#7f7f7f;
}

.nav-pills a {
	color: #7f7f7f;
}

.nav-pills > li > a:hover {
	color: black;
	background-color: transparent;
}

.center { 
	text-align:center;
	}
	
.center img {
	max-width: 100%;
}

.h-center {
	margin-top:30px;
	margin-bottom: auto;
	}

.footer {
	padding: 30px 30px;
	margin-top:60px;
	border-top: 1px solid #D0D0D0;
	background: url("../img/header-background.jpg");
}
.red {
	color:red;
}

.scrolloff {
        pointer-events: none;
}

.blue{
	color:blue;
}   
#mask {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9000;
	background-color: #000;
	display: none;
}

#boxes .window {
	position: absolute;
	left: 0;
	top: 0;
	width: 80%;
	height: 500px;
	display: none;
	z-index: 9999;
	padding: 20px;
	border-radius: 15px;
	text-align: center;
}

#boxes #dialog {
	width: 90%px;
	height: 700px;
	padding: 10px;
	background-color: #FFFFFF;
	font-family: 'Segoe UI Light', sans-serif;
	font-size: 15pt;
}

#popupfoot {
  font-size: 16pt;
  position: absolute;
  top: 10px;
  left: 10px;
}
